.game {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-time {
  color: white;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  width: 155px;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 57px;
       column-gap: 57px;
  justify-content: flex-end;
  margin-right: 14px;
  height: 33px;
}

.game-min,
.game-sek {
  font-size: 16px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.game-timer {
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  font-weight: 400;
}

.game-btn {
  margin-top: 40px;
}

.game-field {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 1034px;
  display: grid;
  align-content: center;
  justify-items: center;
}

.cards {
  width: 95px;
  height: 133px;
}

.cards:hover {
  cursor: pointer;
}

.card-0 {
  background: url("./img/cards/0.png");
}

.card-1 {
  background: url("./img/cards/1.png");
}

.card-2 {
  background: url("./img/cards/2.png");
}

.card-3 {
  background: url("./img/cards/3.png");
}

.card-4 {
  background: url("./img/cards/4.png");
}

.card-5 {
  background: url("./img/cards/5.png");
}

.card-6 {
  background: url("./img/cards/6.png");
}

.card-7 {
  background: url("./img/cards/7.png");
}

.card-8 {
  background: url("./img/cards/8.png");
}

.card-9 {
  background: url("./img/cards/9.png");
}

.card-10 {
  background: url("./img/cards/10.png");
}

.card-11 {
  background: url("./img/cards/11.png");
}

.card-12 {
  background: url("./img/cards/12.png");
}

.card-13 {
  background: url("./img/cards/13.png");
}

.card-14 {
  background: url("./img/cards/14.png");
}

.card-15 {
  background: url("./img/cards/15.png");
}

.card-16 {
  background: url("./img/cards/16.png");
}

.card-17 {
  background: url("./img/cards/17.png");
}

.card-18 {
  background: url("./img/cards/18.png");
}

.card-19 {
  background: url("./img/cards/19.png");
}

.card-20 {
  background: url("./img/cards/20.png");
}

.card-21 {
  background: url("./img/cards/21.png");
}

.card-22 {
  background: url("./img/cards/22.png");
}

.card-23 {
  background: url("./img/cards/23.png");
}

.card-24 {
  background: url("./img/cards/24.png");
}

.card-25 {
  background: url("./img/cards/25.png");
}

.card-26 {
  background: url("./img/cards/26.png");
}

.card-27 {
  background: url("./img/cards/27.png");
}

.card-28 {
  background: url("./img/cards/28.png");
}

.card-29 {
  background: url("./img/cards/29.png");
}

.card-30 {
  background: url("./img/cards/30.png");
}

.card-31 {
  background: url("./img/cards/31.png");
}

.card-32 {
  background: url("./img/cards/32.png");
}

.card-33 {
  background: url("./img/cards/33.png");
}

.card-34 {
  background: url("./img/cards/34.png");
}

.card-35 {
  background: url("./img/cards/35.png");
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "StratosSkyeng";
  src: url("fonts/Web fonts/stratosskyengweb-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "StratosSkyeng";
  background-color: #2f70b5;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field-control {
  position: absolute;
  top: -9999px;
}
.field-control:checked + .difficulty_choice {
  background: #0080c1;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #FFFFFF;
}

.form {
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.difficulty_rating {
  display: flex;
  align-content: center;
  align-items: center;
}

.form_text {
  font-weight: 400;
  font-size: 40px;
  color: #004980;
  max-width: 208px;
}

.difficulty_choice {
  width: 98px;
  height: 98px;
  margin-top: 48px;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0080c1;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.5s ease;
}
.difficulty_choice:hover {
  background: #0080c1;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #FFFFFF;
}

.difficulty_choice:nth-of-type(1),
.difficulty_choice:nth-of-type(2) {
  margin-right: 24px;
}

.button {
  width: 246px;
  height: 50px;
  margin-top: 67px;
  border: none;
  background: #7ac100;
  border-radius: 12px;
  font-family: "StratosSkyeng";
  font-size: 24px;
  color: #FFFFFF;
  transition: all 0.5s ease;
  justify-content: space-around;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  background-color: #3f5b0e;
}
.button:active {
  background: #7ac100;
  color: #FFFFFF;
}

.start_error {
  color: crimson;
  margin-top: 8px;
}

.cards {
  border-radius: 4px;
}

.cards_cover {
  background: url("./img/cards/card-bg.jpg");
}

.play_time {
  padding-top: 10px;
  font-size: 64px;
}
.play_time_text {
  padding-top: 28px;
  font-size: 24px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */