@import "game";
@import "cards-bg";
@import "vars";

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "StratosSkyeng";
  src: url("fonts/Web fonts/stratosskyengweb-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "StratosSkyeng";
  background-color: $backgroundColor;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.field-control {
  position: absolute;
  top: -9999px;

  &:checked + .difficulty_choice {
    background: $checkedDifficulty;
    color: $white;
    box-shadow: inset 0 0 0 3px $white;
  }
}

.form {
  width: 480px;
  height: 459px;
  background: $formBackground;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.difficulty_rating {
  display: flex;
  align-content: center;
  align-items: center;
}

.form_text {
  font-weight: 400;
  font-size: 40px;
  color: $textColor;
  max-width: 208px;
}

.difficulty_choice {
  width: 98px;
  height: 98px;
  margin-top: 48px;
  background-color: $white;
  font-weight: 400;
  font-size: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $checkedDifficulty;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.5s ease;

  &:hover {
    background: $checkedDifficulty;
    color: $white;
    box-shadow: inset 0 0 0 3px $white;
  }
}

.difficulty_choice:nth-of-type(1),
.difficulty_choice:nth-of-type(2) {
  margin-right: 24px;
}

.button {
  width: 246px;
  height: 50px;
  margin-top: 34px;
  border: none;
  background: $buttonColor;
  border-radius: 12px;
  font-family: "StratosSkyeng";
  font-size: 24px;
  color: $white;
  transition: all 0.5s ease;
  justify-content: space-around;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $buttonHover;
  }

  &:active {
    background: $buttonColor;
    color: $white;
  }
}

.start_error {
  color: $error;
  margin-top: 8px;
}

.cards {
  border-radius: 4px;
}

.cards_cover {
  background: url("./img/cards/card-bg.jpg");
}

.play_time {
  padding-top: 10px;
  font-size: 64px;
  &_text {
    padding-top: 28px;
    font-size: 24px;
  }
}

.hidden {
  display: none;
}
