.card-1{
    background: url('./img/cards/0.png');
}

.card-2{
    background: url('./img/cards/1.png');
}

.card-3{
    background: url('./img/cards/2.png');
}

.card-4{
    background: url('./img/cards/3.png');
}

.card-5{
    background: url('./img/cards/4.png');
}

.card-6{
    background: url('./img/cards/5.png');
}

.card-7{
    background: url('./img/cards/6.png');
}

.card-8{
    background: url('./img/cards/7.png');
}

.card-9{
    background: url('./img/cards/8.png');
}

.card-10{
    background: url('./img/cards/9.png');
}

.card-11{
    background: url('./img/cards/10.png');
}

.card-12{
    background: url('./img/cards/11.png');
}

.card-13{
    background: url('./img/cards/12.png');
}

.card-14{
    background: url('./img/cards/13.png');
}

.card-15{
    background: url('./img/cards/14.png');
}

.card-16{
    background: url('./img/cards/15.png');
}

.card-17{
    background: url('./img/cards/16.png');
}

.card-18{
    background: url('./img/cards/17.png');
}

.card-19{
    background: url('./img/cards/18.png');
}

.card-20{
    background: url('./img/cards/19.png');
}

.card-21{
    background: url('./img/cards/20.png');
}

.card-22{
    background: url('./img/cards/21.png');
}

.card-23{
    background: url('./img/cards/22.png');
}

.card-24{
    background: url('./img/cards/23.png');
}

.card-25{
    background: url('./img/cards/24.png');
}

.card-26{
    background: url('./img/cards/25.png');
}

.card-27{
    background: url('./img/cards/26.png');
}

.card-28{
    background: url('./img/cards/27.png');
}

.card-29{
    background: url('./img/cards/28.png');
}

.card-30{
    background: url('./img/cards/29.png');
}

.card-31{
    background: url('./img/cards/30.png');
}

.card-32{
    background: url('./img/cards/31.png');
}

.card-33{
    background: url('./img/cards/32.png');
}

.card-34{
    background: url('./img/cards/33.png');
}

.card-35{
    background: url('./img/cards/34.png');
}

.card-36{
    background: url('./img/cards/35.png');
}