* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'StratosSkyeng';
    src: url('fonts/Web fonts/stratosskyengweb-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'StratosSkyeng';
    background-color: #2f70b5;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.field-control {
    position: absolute;
    top: -9999px;

    &:checked+.difficulty_choice {
        background: #0080C1;
        color: #FFFFFF;
        box-shadow: inset 0 0 0 3px #FFFFFF;
    }
}

.form {
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.difficulty_rating {
    display: flex;
    align-content: center;
    align-items: center;
}

.form_text {
    font-weight: 400;
    font-size: 40px;
    color: #004980;
    max-width: 208px;
}

.difficulty_choice {
    width: 98px;
    height: 98px;
    margin-top: 48px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0080C1;
    justify-content: center;
    border-radius: 12px;
    transition: all 0.5s ease;


    &:hover {
        background: #0080C1;
        color: #FFFFFF;
        box-shadow: inset 0 0 0 3px #FFFFFF;
    }

}


.difficulty_choice:nth-of-type(1),
.difficulty_choice:nth-of-type(2) {
    margin-right: 24px;
}

.button_start {
    width: 246px;
    height: 50px;
    margin-top: 67px;
    border: none;
    background: #7AC100;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-size: 24px;
    color: #FFFFFF;
    transition: all 0.5s ease;

    &:hover {
        background-color: #3f5b0e;
    }

    &:active {
        background: #7AC100;
        color: #FFFFFF;
    }
}

.start_error {
    color: crimson;
    margin-top: 8px;
}

.hidden {
    display: none;
}