* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "StratosSkyeng";
  src: url("fonts/Web fonts/stratosskyengweb-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "StratosSkyeng";
  background-color: #2f70b5;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field-control {
  position: absolute;
  top: -9999px;
}
.field-control:checked + .difficulty_choice {
  background: #0080C1;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #FFFFFF;
}

.form {
  width: 480px;
  height: 459px;
  background: #C2F5FF;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.difficulty_rating {
  display: flex;
  align-content: center;
  align-items: center;
}

.form_text {
  font-weight: 400;
  font-size: 40px;
  color: #004980;
  max-width: 208px;
}

.difficulty_choice {
  width: 98px;
  height: 98px;
  margin-top: 48px;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0080C1;
  justify-content: center;
  border-radius: 12px;
  transition: all 0.5s ease;
}
.difficulty_choice:hover {
  background: #0080C1;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 3px #FFFFFF;
}

.difficulty_choice:nth-of-type(1),
.difficulty_choice:nth-of-type(2) {
  margin-right: 24px;
}

.button_start {
  width: 246px;
  height: 50px;
  margin-top: 67px;
  border: none;
  background: #7AC100;
  border-radius: 12px;
  font-family: "StratosSkyeng";
  font-size: 24px;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.button_start:hover {
  background-color: #3f5b0e;
}
.button_start:active {
  background: #7AC100;
  color: #FFFFFF;
}

.start_error {
  color: crimson;
  margin-top: 8px;
}

.game {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-time {
  color: white;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  width: 155px;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 57px;
       column-gap: 57px;
  justify-content: flex-end;
  margin-right: 14px;
  height: 33px;
}

.game-min,
.game-sek {
  font-size: 16px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.game-timer {
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  font-weight: 400;
}

.game-btn {
  margin-top: 40px;
}

.game-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  width: 1034px;
}

.game-item {
  width: 95px;
  height: 133px;
}

.game-item:hover {
  cursor: pointer;
}

.item-1 {
  background: url("./img/cards/0.png");
}

.item-2 {
  background: url("./img/cards/1.png");
}

.item-3 {
  background: url("./img/cards/2.png");
}

.item-4 {
  background: url("./img/cards/3.png");
}

.item-5 {
  background: url("./img/cards/4.png");
}

.item-6 {
  background: url("./img/cards/5.png");
}

.item-7 {
  background: url("./img/cards/6.png");
}

.item-8 {
  background: url("./img/cards/7.png");
}

.item-9 {
  background: url("./img/cards/8.png");
}

.item-10 {
  background: url("./img/cards/9.png");
}

.item-11 {
  background: url("./img/cards/10.png");
}

.item-12 {
  background: url("./img/cards/11.png");
}

.item-13 {
  background: url("./img/cards/12.png");
}

.item-14 {
  background: url("./img/cards/13.png");
}

.item-15 {
  background: url("./img/cards/14.png");
}

.item-16 {
  background: url("./img/cards/15.png");
}

.item-17 {
  background: url("./img/cards/16.png");
}

.item-18 {
  background: url("./img/cards/17.png");
}

.item-19 {
  background: url("./img/cards/18.png");
}

.item-20 {
  background: url("./img/cards/19.png");
}

.item-21 {
  background: url("./img/cards/20.png");
}

.item-22 {
  background: url("./img/cards/21.png");
}

.item-23 {
  background: url("./img/cards/22.png");
}

.item-24 {
  background: url("./img/cards/23.png");
}

.item-25 {
  background: url("./img/cards/24.png");
}

.item-26 {
  background: url("./img/cards/25.png");
}

.item-27 {
  background: url("./img/cards/26.png");
}

.item-28 {
  background: url("./img/cards/27.png");
}

.item-29 {
  background: url("./img/cards/28.png");
}

.item-30 {
  background: url("./img/cards/29.png");
}

.item-31 {
  background: url("./img/cards/30.png");
}

.item-32 {
  background: url("./img/cards/31.png");
}

.item-33 {
  background: url("./img/cards/32.png");
}

.item-34 {
  background: url("./img/cards/33.png");
}

.item-35 {
  background: url("./img/cards/34.png");
}

.item-36 {
  background: url("./img/cards/35.png");
}

.cards {
  margin-left: 25vw;
  margin-top: 10vh;
  background: #1950b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  border: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}

.hiden {
  display: none;
}

.defaultCard {
  background: url("./img/cards/card-bg.jpg");
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */